---
layout: default
title: Skating
---

<div class="section-container">
  <div class="section-header">
    <h1>
      <img src="{{ '/assets/images/skate-icon.gif' | relative_url }}" alt="Skate Icon">
      Skating Videos
      <img src="{{ '/assets/images/skate-icon.gif' | relative_url }}" alt="Skate Icon">
    </h1>
  </div>

  <div class="message-board">
    <div class="board-header">
      <div class="column-title">Topic</div>
      <div class="column-date">Date</div>
      <div class="column-info">Location</div>
    </div>
    
    {% for post in site.skating reversed %}
    <div class="message-row" data-post-url="{{ post.url | relative_url }}">
      <div class="column-title">
        <div class="post-icon">
          <img src="{{ '/assets/images/folder.gif' | relative_url }}" alt="Folder">
        </div>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </div>
      <div class="column-date">{{ post.date | date: "%m/%d/%Y" }}</div>
      <div class="column-info">{% if post.location %}{{ post.location }}{% else %}-{% endif %}</div>
    </div>
    {% endfor %}
  </div>

  <div class="add-post">
    <a href="https://github.com/seanysdf/seans-website/new/main/_skating" class="post-button">
      <img src="{{ '/assets/images/new-post.gif' | relative_url }}" alt="New Post">
      Add New Skate Video
    </a>
  </div>
</div>